footer.container.py-5
    .row
        .col-md-6
            nav.nav.justify-content-center.justufy-cpntent-md-start
                a(href="/nosotros",class='nav-link' ) nosotros
                a(href="/viajes",class='nav-link' ) viajes
                a(href="/testimoniales",class='nav-link' ) Testimoniales
        .col-md-6
            p.copyright.text-center.text-md-right
                | Todos lo Drechos reservados  
                span= fechaActual