extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen de nosotros", class ='img-fluid')


            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue magna eget mi blandit vulputate. Aenean condimentum scelerisque ante. Ut id cursus tellus. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue magna eget mi blandit vulputate. Aenean condimentum scelerisque ante. Ut id cursus tellus. ssa. Proin et mi tellus. Sed vitae quam sollicitudin, semper nisi efficitu
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue magna eget mi blandit vulputate. Aenean condimentum scelerisque ante. Ut id cursus tellus.sa. Proin et mi tellus. Sed vitae quam sollicitudin, semper nisi efficitu    
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue magna eget mi blandit vulputate. Aenean condimentum scelerisque ante. Ut id cursus tellus.sa. Proin et mi tellus. Sed vitae quam sollicitudin, semper nisi efficitu  
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Mauris sed magna a eros pretium placerat eget ut nisi. Nam vel urna vitae lorem lobortis bibendum. Etiam dapibus purus vel sollicitudin suscipit.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Mauris sed magna a eros pretium placerat eget ut nisi. Nam vel urna vitae lorem lobortis bibendum. Etiam dapibus purus vel sollicitudin suscipit
                .col-md-4
                    img(src="img/icono_precio.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Mauris sed magna a eros pretium placerat eget ut nisi. Nam vel urna vitae lorem lobortis bibendum. Etiam dapibus purus vel sollicitudin suscipit        